* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* dex section styling */

.row.reduced-row {
    max-width: 1200px;

}

.row {
    margin-left: auto;
    margin-right: auto;
    
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.xs-none-top {
    padding-top: 0;
}

.component--heading {
    padding: 24px 0px 0px;
}

.eyebrows {
    color: #42526e;
    font-size: -75rem;
    letter-spacing: 1px;
    line-height: 2;
    text-transform: uppercase;
}

h2.heading {
    color: #253858;
    letter-spacing: 0;
    margin-top: 0;
}

.component-para{
    color: #42526e;
    font-size: 1.25rem;
    letter-spacing: 0.3px;
    line-height: 1.4;
}

.text-right {
    text-align: right;
}

img, svg{
    margin-bottom: 16px;
    vertical-align: bottom;
}

img, object, picture, video {
    max-width: 100%;
}

.component:not(.component--block):last-child>*:last-child {
    margin-bottom: 0;
}

img.xs-none-bottom {
    padding-bottom: 0;
}