*{
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
    position: fixed;
    width: 100%;
    box-shadow: 0 9px 13px -6px rgb(0 0 0 / 31%);
    font-family: "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
}
nav{
    position: relative;
    background-color: white;
    width: 100%;
}
.logowebsite{
    margin-bottom: -18px;
}
.logowebsite .logo{
    margin-top: 18px;
    margin-left: 16px;
}
.dropdownicons1{
    transform: rotate(90deg);
    margin-left: 8px;
    margin-bottom: 5px;
}
.logfree ul li:nth-child(2) {
    float: right;
    position: relative;
    bottom: 15px;
    border: solid #2c6fd2 1px;
    color: #2c6fd2;
    padding:3px;
    list-style-type: none;
    margin-right: 16px;
    font-size: 1.04em;
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 500;
}
.desktopnavbar{
    display: none;
}
.logfree ul li:first-child{
    display: none;
}

/* MAIN */

main{
    padding-top: 80px;
    font-family: "Charlie Text", -apple-system, BlinkMacSystemFont,
     "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    background-color: #F4F5F7;
}
#jaymersection1{
    padding-right: 5px;
    padding-left: 5px;
    color: #253858;
}
#jaymersection1 h1{
    margin-left: 13px;
    margin-right: 13px;
    padding-top: 22px;
    padding-bottom: 20px;
    font-size: 1.96em;
    font-weight: 630;
}
#jaymersection1 h3{
    color: #42526E;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: 500;
}
#jaymersection1 button{
    background-color: #0052cc;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 3px;
    margin-top: 25px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 20px;
}
.p1flex{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.bitbucketlink{
    display: flex;
    justify-content: center;
    column-gap: 5px;
    margin-bottom: 20px;
}
.bitbucketlink a{
    text-decoration: none;
    color: #0065FF;
    font-size: 1.05em;
}
.bitbucketlink img{
    margin-top: 3px
}
.sampleimg img{
    width: 95%;
}
.backgroundborder img{

}