*{
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
    position: fixed;
    width: 100%;
    box-shadow: 0 9px 13px -6px rgb(0 0 0 / 31%);
    font-family: "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
}
nav{
    position: relative;
    background-color: white;
    width: 100%;
}
.logowebsite{
    margin-bottom: -18px;
}
.logowebsite .logo{
    margin-top: 18px;
    margin-left: 16px;
}
.dropdownicons1{
    transform: rotate(90deg);
    margin-left: 8px;
    margin-bottom: 5px;
}
.logfree ul li:nth-child(2) {
    float: right;
    position: relative;
    bottom: 15px;
    border: solid #2c6fd2 1px;
    color: #2c6fd2;
    padding:3px;
    list-style-type: none;
    margin-right: 16px;
    font-size: 1.04em;
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 500;
}
.desktopnavbar{
    display: none;
}
.logfree ul li:first-child{
    display: none;
}

/* MAIN */
/* jaymer section 1 */
main{
    padding-top: 80px;
    font-family: "Charlie Text", -apple-system, BlinkMacSystemFont,
     "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    background-color: #F4F5F7;
}
#jaymersection1{
    padding-right: 5px;
    padding-left: 5px;
    color: #253858;
}
#jaymersection1 h1{
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 22px;
    padding-bottom: 20px;
    font-size: 1.96em;
    font-weight: 630;
}
#jaymersection1 h3{
    color: #42526E;
    margin-right: 4%;
    margin-left: 4%;
    font-weight: 500;
}
#jaymersection1 button{
    background-color: #0052cc;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 3px;
    margin-top: 25px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 20px;
}
.p1flex{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.p1flex p span{
    display: none;
}
.bitbucketlink{
    display: flex;
    justify-content: center;
    column-gap: 5px;
    margin-bottom: 20px;
}
.bitbucketlink a{
    text-decoration: none;
    color: #0065FF;
    font-size: 1.05em;
}
.bitbucketlink img{
    margin-top: 3px
}
.sampleimg img{
    width: 95%;
    margin-bottom: 30px;
}

/* Jaymer Section 2 */
.choices{
    background-color: white;
    margin-top: -4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 60px;
}
.backgroundsection2 img{
    width: 100%;
}
.choices h4{
    color: #253858;
}
.choices p{
    color:#091E42;
}
.freeunlimited img{
    width: 130px;
    margin-top: 30px;
}
.freeunlimited h4{
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.20em;
    margin-bottom: 15px;
}
.freeunlimited p{
    font-size: 1.04em;
    margin-left: 4px;
    margin-right: 4px;
}
.freeunlimited p span{
    margin-left: 15px;
}
.bestInClass img{
    width: 210px;
    margin-top: 30px;
}
.bestInClass h4{
    font-size: 1.18em;
    margin-top: 15px;
    font-weight: 500;
}
.bestInClass p{
    margin-top: 15px;
    font-size: 1.02em;
}
.contineusdelivs img{
    width: 160px;
    margin-top: 30px;
}
.contineusdelivs h4{
    font-size: 1.20em;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 500;
    margin-bottom: 18px;
}
.contineusdelivs p{
    margin-left: 5%;
    margin-right: 5%;
}

.codeCollaboration{
    background-color: white;
}
.codeCollaboration h1,h3,p{
    color: #253858
}
.imgcodecollab img{
    width: 93%;
}
.codeCollabexplain{
    margin-top: 35px;
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
}
.codeCollabexplain p{
    font-size: 0.70em;
    margin-bottom: 15px;
    letter-spacing: 1px; 
}
.codeCollabexplain h1{
    font-size: 1.45em;
    font-weight: 630;
    margin-right: 20px;
    margin-bottom: 20px;
}
.codeCollabexplain h3{
    font-weight: 450;
    font-size: 1.25em;
}
.continuousdelivery{
    background-color: white;
}
.deliveryimg img{
    display: none;
}
.deliverymobile img{
    width: 92%;
    margin-top: 60px;
    margin-bottom: 35px;
}
.CONTINUOUSDELIVERYexplain{
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
}
.CONTINUOUSDELIVERYexplain p{
    font-size: 0.70em;
    margin-bottom: 15px;
    letter-spacing: 1px; 
}
.CONTINUOUSDELIVERYexplain h1{
    font-size: 1.45em;
    font-weight: 630;
    margin-right: 30px;
    margin-bottom: 20px;
    color: #253858;
}
.CONTINUOUSDELIVERYexplain h3{
    font-weight: 450;
    font-size: 1.25em;
}
.learnmoreaboutdelivery{
    margin-top: 20px;
}
.learnmoreaboutdelivery a{
    text-decoration: none;
    color: #2c6fd2;
}




@media (min-width: 540px) { 
    .choices{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .freeunlimited{
        width: 95%;
        margin-left: 10px;
        margin: auto;
    }
    .freeunlimited h4{
        margin-left: 5px;
        margin-right: 5px;
    }
    .freeunlimited p{
        margin-left: 10px;
        margin-right: 10px;
    }
    .bestInClass{
        width: 95%;
        margin-left: 10px;
        margin: auto;
    }
    .bestInClass h4{
        margin-left: 5px;
        margin-right: 5px;
    }
    .bestInClass p{
        margin-left: 12px;
        margin-right: 12px;
    }
    .contineusdelivs{
        grid-column: 1/3;
        width: 55%;
        margin-left: 15%;
        margin-right: 15%;
        margin: auto;
    }

}

@media (min-width: 650px) { 
    .bitbucketlink{
        display: none;
    }
    .p1flex p span{
        display: inline;
    }
    .p1flex p span a{
        text-decoration: none;
        color: #0065FF;
        font-size: 1.05em;
    }
 }

@media (min-width: 768px) { 
    #jaymersection1{
        margin-left: 16.40%;
        margin-right: 16.40%;
    }
    #jaymersection1 h1{
        font-size: 2.60em;
    }
    .p1flex p span{
        display: none;
    }
    .bitbucketlink{
        display: block;
    }
    .choices{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 100px;
    }
    .choices h4{
        font-size: 1.50em;
    }
    .contineusdelivs{
        grid-column: 3/3;
        width: 100%;
    }
    .contineusdelivs img{
        padding-bottom: 20px;
        margin-bottom: -12px;
    }
    .contineusdelivs h4{
        margin-left: 1px;
        margin-right: 1px;
    }
    .contineusdelivs p{
        margin-top: -8px;
    }
    .imgcodecollab img{
        width: 96%;
    }
    .codeCollabexplain h1{
        font-size: 2.20em;
    }
    .codeCollabexplain{
        padding-bottom: 60px;
    }
    .deliveryimg img{
        display: block;
        width: 95.60%;
        margin: auto;
        padding-bottom: 60px;
    }
    .deliverymobile img{
        display: none;
    }
    .CONTINUOUSDELIVERYexplain h1{
        font-size: 2.10em;
    }
 }



@media (min-width: 1024px) { 
    .dropdownicons1{
        display: none;
    }
    .desktopnavbar{
        display: block;
        margin-bottom: 7px;
    }
    .desktopnavbar ul li{
        display: inline;
        position: relative;
        bottom: 15px;
        color:#1354cc;
        font-size: 1.20em;
    }
    .firstli{
        margin-left: 23.20%;
    }
    .logfree{
        position: absolute;
        bottom: -5px;
        left: 80%;
    }
    .logfree ul li{
        float: right;
    }
    .logfree ul li:first-child{
        display: inline;
        border: solid #2c6fd2 1px;
        color: #2c6fd2;
        padding: 2px;
        position: relative;
        bottom: 15px;
        font-size: 1.04em;
        border-radius: 3px;
        padding-right: 10px;
        padding-left: 10px;
        font-weight: 500;
    }
    .desktopnavbar ul li span img{
        transform: rotate(90deg);
        width: 0.60%;
        margin-left:8px ;
    }
    .logfree ul li:nth-child(2){
        border: none;
    }
    .desktopnavbar ul li:not(:first-child){
        margin-left: 25px;
    }
    .bitbucketlink{
        display: none;
    }
    .p1flex p span{
        display: inline;
    }
    .codeCollaboration{
        display: flex;
        padding-bottom: 60px;
    }
    .codeCollabexplain{
        width: 90%;
        padding-bottom: 0px;
    }
    .codeCollabexplain p{
        padding-bottom: 20px;
    }

    .continuousdelivery{
        display: flex;
        flex-direction: row-reverse;
    }
    .deliveryimg img{
        width: 100%;
    }
    .CONTINUOUSDELIVERYexplain{
        width: 75%;
        padding: 0px;
    }
    .CONTINUOUSDELIVERYexplain h1{
        padding-right:0px ;
    }
 }

@media (min-width: 1400px) { 

 }